*{
    margin: 0;
}

nav{
    margin: 60px 120px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}

nav .menu ul{
    width: 500px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

nav .menu ul li{
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.banner{
    margin: 0 120px;
}

.banner-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-dscp{
    max-width: 585px;
}

.banner-dscp h1{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 4.25rem;
}

.banner-dscp p{
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-dscp .btn{
    font-size: 1rem;
    font-weight: 600;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}

.banner-image{
    padding: 10px;
}

.banner-image .circle{
    position: relative;
    width: 100%;
}

.banner-image .main-camera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(60%, -50%);
}

.banner-footer{
    margin: 70px 165px;
}

.banner-footer .straight-line{
    border: 1px solid rgb(216, 216, 216);
}

.banner-footer .logos{
    padding: 36px 62px;
    display: flex;
    justify-content: space-between;
}

.product{
    margin: 30px auto 100px;
    max-width: 1100px;
}

.product .tittle{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 4.25rem;
    color: #3A3A3A;
    margin-bottom: 30px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.cards>*{
    box-shadow: 10px 10px 30px ;
    width: 330px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.cards img{
    margin-top: 17px;
}

.card-dscp{
    margin-top: 16px;
    width: 300px;
}

.cards .card-dscp h3{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #18191F;
    margin-bottom: 6px;
}

.cards .card-dscp h4{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
}

.cards .card-dscp small{
    font-size: 0.865rem;
    line-height: 1.5rem;
    color: #5E6366;
}

.cards .card-dscp p{
    font-size: 1rem;
    font-weight: 700;
    line-height: 140%;
    color: #787885;
    margin-bottom: 17px;
}
