*{
    margin: 0;
}

nav{
    margin: 60px 120px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}

nav .menu ul{
    width: 500px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

nav .menu ul li{
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.banner{
    margin: 0 120px;
}

.banner-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-dscp{
    max-width: 585px;
}

.banner-dscp h1{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 4.25rem;
}

.banner-dscp p{
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-dscp .btn{
    font-size: 1rem;
    font-weight: 600;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}

.banner-image{
    padding: 10px;
}

.banner-image .circle{
    position: relative;
    width: 100%;
}

.banner-image .main-camera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(60%, -50%);
}

.banner-footer{
    margin: 70px 165px;
}

.banner-footer .straight-line{
    border: 1px solid rgb(216, 216, 216);
}

.banner-footer .logos{
    padding: 36px 62px;
    display: flex;
    justify-content: space-between;
}